/* Google Fonts */

@import url("https://fonts.googleapis.com/css?family=Orbitron|Ubuntu+Mono");

/* General Styling */

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

/* Header Styling */

#headerdiv {
  background-color: #262546;
  min-width: 440px;
  margin-bottom: 20px;
}

.logocontainer {
  background-color: #262546;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 400px;
  height: auto;
}

/* Instruction Card Styling */

.instructions {
    background-color: white;
    max-width: 400px;
    min-width: 400px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 7px;
  }
  
  .userinstruct {
    color: black;
    font-size: 1.5rem;
    font-family: Ubuntu Mono;
    font-weight: bold;
    text-align: center;
  }
  
  .userinstruct-p {
    color: black;
    font-size: 1rem;
    font-family: Ubuntu Mono;
    text-align: center;
  }

/* Styling to Stats Area & Elements Within*/

.stats {
    background-color: whitesmoke;
    max-width: 440px;
    min-width: 440px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 7px;
    margin-bottom: 20px;
  }
  
  .statscontent {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .number {
    color: black;
    font-family: Ubuntu Mono;
    font-size: 1rem;
    margin-left: 15px;
    margin-right: 10px;
  }
  
  .label {
    color: black;
    font-family: Ubuntu Mono;
    font-size: 1rem;
  }

  /* Main Game Container Styling */

#gamecontainer {
    background-color: whitesmoke;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 400px;
    height: 400px;
    -webkit-perspective: 1000px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Card Styling and Flip Effects */

.card {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: scale(1);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: transform 0.5s;
  }
  
  img {
  width: 84px;
  height: 84px;
  border-radius: 5px;
  }

  .card:active {
    -webkit-transform: scale(0.95);
    -webkit-transition: transform .2s;
  }
  
  .card.flip {
    -webkit-transform: rotateY(-180deg);
  }
  
  .front, .back {
    position: absolute;
    -webkit-backface-visibility: hidden;
  }
  
  .front {
    -webkit-transform: rotateY(180deg);